<!-- <div class="container-fluid">
    <div class="col-md-offset-1">
      <h1>
        Welcome to !
      </h1>
    </div>
    
    <a routerLink="/movies"> List Movies</a>
    <a style="margin-left:10px" routerLink="/add">List Multiplexes</a>
    <br/>
    <router-outlet></router-outlet>
    </div>
    
     -->


     <div class="container row">
    <div class="col-md-12">
        <h1>Upload Image</h1>
    </div>
</div>
<div class="container row">
    <div class="col-md-6">
        <input type="file" >
        <!-- (change)="onFileChanged($event)"> -->
    </div>
    <div class="col-md-6">
        <input type="button" value="upload">
    </div>
</div>